body {
    margin: 50px 200px 50px 200px;
    background: rgb(23,57,85);
    background: linear-gradient(90deg, rgba(23,57,85,1) 0%, rgba(40,40,78,1) 100%);
    font-family: Arial;
}

section {
    float: left;
    width: 40%;
}

aside {
    width: 60%;
    float: right;
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #df61ee;
}

h1,
h2,
h3,
li {
    color: #df61ee;
}

img {
    width: 600px;
}

a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #df61ee;
    font-size: 20px;
    padding: 20px;
}

nav a:hover {
    background-color: #6c52b3;
    color: #37c2fd;
}
header h1 {
    margin-top: 50px;
}
footer {
    margin-top: 800px;
    padding: 40px;
    background: rgb(23,57,85);
background: radial-gradient(circle, rgba(23,57,85,1) 0%, rgba(40,40,78,1) 100%);
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.flex {
    width: 400px;
    margin: auto;
    border: 5px solid #6c52b3;
    border-radius: 25px;
    background-color: #173955;
    padding: 0;
    
   
  }
  .flex ul {
    list-style: none;
  }
  .flex ul li, ul li {
    padding: 10px;
    padding-top: 0px;
  }
  .flex h2 {
     text-align: center;
  }
  .flex h3 {
    padding-left: 10px;
  }
  
  .flex p {
    text-align: center;
    background-color: #6c52b3;
    color: #37c2fd;
    padding: 20px;
    margin: 0;
    border-radius: 0px 0px 20px 20px;
  }
  .flex img {
    max-height: 400px;
    max-width: 400px;
  }
 .flex h3, .flex li, .flex h2{
    color: #37c2fd;
}